*{
    margin: 0;
    padding: 0;
    
}


body {
    background-color: #000000;
}
/*Estilos header*/

.navbar {
    background-color: #000000 !important;
}
.header{
    background-color: #000000;
    
    
}
.header div{
    height: 100px;
}
.boton.inicio-centrar{
    display: flex;
    justify-content: center
    
    ;
}
.button-icono{
    background-color: #000;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.button-icono__imagen{
    height: 100px;
    width: 100px;
    background-color: #000;
    border: #000;
}


/*Estilos de la barra de navegacion*/

.navegador1 ul{
    display: flex !important;
    justify-content: space-between !important;
    margin: 4px;
    text-decoration-line: none;
    text-align: center;
    color: #ffffff;
    font-family: 'Akshar', sans-serif;
    padding: 0;

        
}

.navegador1 ul li
{
    margin:2px;
    list-style: none;
    width: 100%;
    border-radius: 10%;
    background-color: #FFD36E;
    border: #000000 2px;
    color: #000000;
    
   
}   
.navegador1 ul li a{

text-decoration-line: none;
text-decoration-color: #000000;
color:#000000;
transition: color 0;
}


.navegador1 ul li a:hover{
    color: #ffffff;
  }
 
/*Foto principal*/


/*Estilos "primera foto frente con texto (index)*/


.fotoiniciocontexto{
    position: relative;
    
 }


.foto-inicio-reemplazo{
    width: 100%;
    height: 100%;
}   



.foto-inicio-contexto__texto1{
   color: rgb(0, 0, 0);
   font-size: 4em;
   text-align: center;
   background-color: #ffffff;
   padding: 10px;
   height: 40vh;
       
}

.frase2{
    background-color: #000000;
    height: 82vh;

}


.frase2-texto {
    color: rgb(255, 255, 255);
    font-size: 3em;
    height: 40vh;
    text-align: center;
    
    
}

.equipo-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    
}
@media screen and (min-width:700px) {
.equipo-inicio{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
}
}
.equipo-inicio__eddie1{
    padding: 20px;
}
  
.equipo-inicio__eddie{
    
    width: 220px;
    border-block-start-color:black;
    border-radius: 10px;
       
}
.equipo-inicio__paul{
    width: 220px;
    border-block-start-color:black;
    border-radius: 10px;
}
.equipo-inicio__gaz{
    width: 220px;
    border-block-start-color:black;
    border-radius: 10px;
}

/*Estilo Frase intermedia Pagina*/

.frase-maximos-exponentes{
   
    background-color: #ffffff;

}
.maximos_exponentes-frase{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    
    }
.equipo-inicio__texto{
    
    
    font-size: 3em;
    color: #e2e2e2;
    text-align: center;
    font-style: oblique;
    display: block;
    
}



/*Estilo fotos final de pagina*/





.fotos-final__titulo{

        background-color: #ffffff;
        color: #000000;
        font-size: 3em;
        text-align: center;
    

    
}


.fotos-final{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}   



.fotos-final1{
    
    border: solid 5px #ffffff;
    padding: 20%;
}
.fotos-final2{
    border: solid 5px #ffffff;
    padding: 20%;
}
.fotos-final3{
    border: solid 5px #ffffff;
    padding: 20%;
}
.fotos-final4{
    border: solid 5px #ffffff;
    padding: 20%;
}


@media screen and (max-height: "700px")
{
    .equipo-inicio{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
       }
}













/*Estilo Recetas*/


.body-recetas{
        color: #ffffff;
    }


.titulo-recetas h3{
    font-size: 60px;

}
.titulo-recetas p{
    font-size: 35px;
}




    
.main-nuestro-equipo{
    background-color:#F6F4E6;

}
/*Estilos Contactanos*/
.contactanos-inicio{
    
    color: #ffffff;
    text-align: center;
    
}

/*Estilos footer*/
footer{
    background-color: #FFD36E;
    color:#000000;
}
.footer__lista{
    list-style-type: none ;
}



/*Estilos HTML "Recetas*/

.titulo-recetas p{
text-align: center;
font-size: 50px;


}

.videos-recetas{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150vh;
    padding: 20px;

    
}
.paul__presentacion{
    text-align: center;
    width: 70%;

}




.body-planes{
    background-color: #000000;
}


/*Estilo HTML "PLANES"*/


.planes-lista-padre{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 3px black;
    height: 250px;;


}
.planes-lista{
     display: flex;
     flex-direction: column;
     
 }

.plan-semanal-gratuito{
    background-color: #E4D1B9;
}
.plan-mensual{
    background-color: #BE8C63;
}
.plan-6-meses{
    background-color: #A97155;
}


.segui-los-pasos{
    height: 500px;
    background-color: #000000;
    color: #F6F4E6;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
}
.segui-los-pasos p{
    position: relative;
    top: 100px;
}
.div-tabla{
    background-color: #F6F4E6;
}
.div-plan-6-meses{
   
    color: #F6F4E6;
    font-style: oblique;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
    
    

    
}
.div-plan-6-meses h5{
    text-align: center;
    font-size: 80px;
   
    
}

.h5-plan-seis-meses{
    position: relative;
    bottom: 180px;

}
.p-plan-seis-meses{
    position: relative;
    bottom: 100px;
}



/*Estilos HTML "LAS RECETAS DE GAZ"*/

.img-receta-gaz {
    height: 100%;
}                      
                            

.img-receta-gaz2{
    height: 100%;
}

.body-recetas{
    background-color: #000000;
}



/*Estilos html recetas*/


.card-title, .card-text{
    color: #000000;
}
.conteiner{
    padding: 10px !important;
}




/*Estilos de HTML "NUESTRO EQUIPO"*/

.nuestro-equipo-gaz{
    display: flex;
    flex-direction: column;
    align-items: centers;
    text-align: center;
    color: #ffffff;
    

}
.carousel1{
    width: 100%;
    display: flex;
    
    
}
.carousel-inner{
    display: flex;
    align-items: center;
}


.h3-eddie, .h3-paul, .h3-gaz{
    font-size: 4em;
    color: #ffffff;
    text-align: center;
}
.parrafo{
    color: #ffffff;
}
.h6-paul, .h6-eddie{
    color: #ffffff;
}

.nuestro-equipo-paul{
    display: flex;
    flex-direction: column;
    align-items: centers;
    text-align: center;
    color: #ffffff;
}
.nuestro-equipo-eddie{
    display: flex;
    flex-direction: column;
    align-items: centers;
    text-align: center;
    color: #ffffff;
}

@media screen and (min-width: 800px){

.carousel1{
width: 50% !important;

}
.nuestro-equipo-gaz{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nuestro-equipo-eddie{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nuestro-equipo-paul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}







}


/*estilos HTML RECETAS*/


.video-yutu{
    width: 70%;
}
.hover01 column{
    width: 100%;
}
.tienda-productos{
    padding-top: 25px;
    display: flex;
    flex-direction:column;
    align-items: center;
    
  
   
}


.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.productos-veganos{
    font-size:3em;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
.lista__cestaro{
    color: #ffffff;
    text-align: center;
}
.titulo__planes{
    color: #ffffff;
    font-size: 4em;
    text-align: center;
}
.plan-gratuito{
    background-color: #e2e2e2;color: #e2e2e2;
}