*{
    margin: 0;
    padding: 0;
}



body {
    background-color: #000000;
}
.header{
    background-color: #000000;
    width: 100px;
}
.header div{
    height: 100px;
}
.boton.inicio-centrar{
    display: flex;
    justify-content: center
    
    ;
}
.button-icono{
    background-color: #000;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.button-icono__imagen{
    height: 100px;
    width: 100px;
    background-color: #000;
    border: #000;
}

/*Estilos de la barra de navegacion*/

.navegador1 ul{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    text-decoration-line: none;
    text-align: center;
    
    color: #ffffff;
    font-family: 'Akshar', sans-serif;
        
}

.navegador1 ul li
{
    margin:2px;
    list-style: none;
    width: 100%;
   border-radius: 10%;
    background-color: #FFD36E;
    border: #000000 2px;
    color: #000000;
    
   
}   
.navegador1 ul li a{

text-decoration-line: none ;
text-decoration-color: #000000;
color:#000000;
transition: color 0;
}


.navegador1 ul li a:hover{
    color: #ffffff;
  }
 
/*Foto principal*/


/*Estilos section Equipo*/

.foto-inicio-reemplazo{
    width: 100%;
}   



.foto-inicio-contexto__texto1{
   color: aliceblue;
   font-size: 300%;
   text-align: center;
   
}

.frase3{
    background-color: #000000;
    width: 100vw;
}


.frase3-texto {
    color: rgb(255, 255, 255);
    font-size: 100%;
    text-align: center;
}
.frase3-texto__resaltar{
    font-size: 100%;
}
.equipo-inicio{
    height: 120vh;
    background-color: #ffffff;
    
   
    text-align: center;
    padding: 30px;
    
}
.equipo-inicio__eddie1{
    padding: 20px;
}
  
.equipo-inicio__eddie{
    
    width: 40%;
    border-block-start-color:black;
    border-radius: 10px;
    
    
}
.equipo-inicio__paul{
    width: 40%;
    
    border-block-start-color:black;
    border-radius: 10px;
}
.equipo-inicio__gaz{
    width: 40%;
    
    border-block-start-color:black;
    border-radius: 10px;
}

/*Estilo Frase intermedia Pagina*/

.frase-maximos-exponentes{
    height: 100%;
    background-color: #ffffff;

}
.equipo-inicio__texto{
    font-size: 100%;
    color: #000000;
    text-align: center;
    font-style: oblique;
    
}


/*Estilo fotos final de pagina*/




.frase-fotos1234{
    padding: 20px;
    width: 100%;
 
}
.fotos-final__titulo{

        background-color: #ffffff;
        color: #000000;
       font-size: 100%;
    
}


   

.fotos-final1234{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.fotos-final1{
    width: 40%;
    border: solid 5px #ffffff;
}
.fotos-final2{
    width: 40%;
    border: solid 5px #ffffff;
}
.fotos-final3{
    width: 40%;
    border: solid 5px #ffffff;
}
.fotos-final4{
    width: 40%;
    border: solid 5px #ffffff;
}















/*Estilo Recetas*/


.body-recetas{
        color: #ffffff;
    }


.titulo-recetas h3{
    font-size: 60px;

}
.titulo-recetas p{
    font-size: 35px;
}




    
.main-nuestro-equipo{
    background-color:#F6F4E6;

}
/*Estilos Contactanos*/
.contactanos-inicio{
    
    color: #ffffff;
    text-align: center;
    
}

/*Estilos footer*/
footer{
    background-color: #FFD36E;
    color:#000000;
}



/*Estilos HTML "Recetas*/

.titulo-recetas p{
text-align: center;
font-size: 50px;
position: relative;
top: 35px;


}

.videos-recetas{
    height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.paulloco{
    color: #000000;
     max-width: 500px;
    
}
.paulloco p{
    max-width: 50%;
    color: #F6F4E6;
}

.body-planes{
    background-color: #000000;
}


/*Estilo HTML "PLANES"*/


.planes-lista-padre{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 3px black;
    height: 250px;;


}
.planes-lista{
     display: flex;
     flex-direction: column;
     
 }

.plan-semanal-gratuito{
    background-color: #E4D1B9;
}
.plan-mensual{
    background-color: #BE8C63;
}
.plan-6-meses{
    background-color: #A97155;
}


.segui-los-pasos{
    height: 500px;
    background-color: #000000;
    color: #F6F4E6;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
}
.segui-los-pasos p{
    position: relative;
    top: 100px;
}
.div-tabla{
    background-color: #F6F4E6;
}
.div-plan-6-meses{
   
    color: #F6F4E6;
    font-style: oblique;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
    
    

    
}
.div-plan-6-meses h5{
    text-align: center;
    font-size: 80px;
   
    
}

.h5-plan-seis-meses{
    position: relative;
    bottom: 180px;

}
.p-plan-seis-meses{
    position: relative;
    bottom: 100px;
}



/*Estilos HTML "LAS RECETAS DE GAZ"*/

.img-receta-gaz {
    height: 100%;
}                      
                            

.img-receta-gaz2{
    height: 100%;
}




